.getStartedDisplay {
  height: 80vh;
  padding: 12vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.githubButton {
  background: transparent;
  box-shadow: 1px 1px 10px rgba(154, 180, 251, 0.782);
  color: white;
  width: 100px;
  height: 20px;
  padding: 10px;
  border-radius: 20px;
  line-height: 20px;
}

.logo {
  width: 14px;
  height: 14px;
}

.githubButton:hover {
  cursor: pointer;
  background: rgba(154, 180, 251);
  transition: .3s;
}
.githubButton:not(:hover) {
  transition: .3s;
}