.demoDisplay {
  max-width: 84em;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30vh;
}

.mainContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.toggle {
  cursor: pointer;
  width: 160px;
  height: 40px;
  margin: 0 3px 20px 3px;
  background: rgb(50, 89, 131);
  color: white;
  font-size: 15px;
  display: block;
  border-radius: 5px;
  line-height: 40px;
}

.toggle:hover {
  background: lightblue;
  color: navy;
}

.gifContainer {
  width: 50%;
}

.gifs {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 650px) {
  .demoDisplay {
    flex-direction: column;
    margin: auto;
  }
  .toggleContainer {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .gifContainer {
    width: 100%;
    height: auto;
  }
  .mainContainer {
    width: fit-content;
  }
}
