.teamContainer {
  padding-bottom: 80px;
  padding-top: 10vh;

  h2 {
    padding-bottom: 5vh;
  }

  h3 {
    padding-top: 5vh;
  }

  .othersContainer {
    height: 40vh;
    margin-top: 5vh;
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
  }

  .homeContainer {
    max-width: 76em;
    margin: auto;
    padding-top: 30vh;

    .home {
      display: flex;

      .left {
        margin: auto;

        .description {
          max-width: 500px;
        }
      }

      .right {
        padding: 2em;
        max-width: 500px;
        margin: auto;
      }

      h3 {
        margin-top: 0;
      }
    }
  }

  .osp4Container {
    margin: auto;
    max-width: 86em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
    text-align: center;
    .github {
      width: 19px;
      height: 19px;
      margin-left: 5px;
    }
  }

  .docketeerXIIIContainer {
    margin: auto;
    max-width: 86em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
    text-align: center;
  }

  .github {
    width: 19px;
    height: 19px;
    margin-left: 5px;
    padding-right: 5px;
  }

  .osp4box {
    padding-bottom: 2vh;
    margin-bottom: 5vh;
    box-shadow: 1px 1px 10px rgba(154, 180, 251, 0.44);
  }

  .person {
    font-size: 14px;
    margin: 5px;
    
  }

  .osp4Pic {
    width: 200px;
  }

  .github:hover {
    cursor: pointer;
  }

  svg:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1100px) {
  .person {
    display: flex;
    flex-direction: column;
    a {
      justify-self: baseline;
    }
  }
  .othersContainer {
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 650px) {
  h2 {
    font-size: 26px;
  }

  .othersContainer {
    height: fit-content !important;
    grid-template-columns: repeat(2, 200px) !important;
    font-size: 13px;
  }

  .osp4box {
    padding: 0;
    margin: 0 1vh;
  }

  .othersContainer {
    padding: 0 10px !important;
    display: flex;
    justify-content: center;
    margin: 4rem;
  }
}
