.homeLoaded {
  height: 95vh;
  max-width: 76em;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transform: scale(0);
  animation: zoom-in 1s forwards;
    .left {
      margin: auto;

      .description {
        max-width: 550px;
      }
    }

    .right {
      padding: 2em;
      max-width: 500px;
      margin: auto;
    }
}

.homeDisplay{
  opacity: 0;
  width: 50%;
  transition: opacity 0.5s ease-out;
}

.mainTitle {
  font-size: 40px;
}

@media screen and (max-width: 650px) {
  .homeContainer > .home {
    flex-direction: column;
  }
}
@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.explore {
  cursor: pointer;
  margin: auto;
  width: 150px;
  background: transparent;
  box-shadow: 1px 1px 10px rgba(154, 180, 251, 0.782);
  color: white;
  font-size: 15px;
  display: block;
  border-radius: 20px;
  line-height: 40px;
}
.explore:hover {
  background: rgba(154, 180, 251);
  transition: .3s;
}
.explore:not(:hover) {
  transition: .3s;
}

.right {
  animation: updown 3s ease-in-out infinite;
  animation-play-state: running;
}
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
