h1 {
  font-size: 30px;
}
li {
  font-size: 18px;
}

li:hover {
  cursor: pointer;
  color: rgba(154, 180, 251);
  animation: updown 1s ease-in-out infinite;
  animation-play-state: running;
}

li:not(:hover) {
  animation: updown-out 1s ease-out forwards;
  animation-play-state: running;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes updown-out {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
  .left {
    padding-left: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  a {
    text-decoration: none;
  }

  .navbarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;

      li {
        padding: 0.5em;
        list-style: none;
        text-decoration: none;
      }
      .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 3em;
      }
      button {
        display: none;
      }
    }
  }
}


@media screen and (max-width: 825px) and (orientation: portrait) {
  .navbar {
    margin: 0;
  }
  .navbarContainer > .left {
    padding: 0;
    align-self: flex-start !important;
  }
  .navbarContainer {
    display: flex !important;
    ul { 
      flex-direction: column !important;
      .link{
        visibility: hidden;
      }
    }
  }
  h1 {
    margin-top: 3vh;
  }
  .dropBtn {
    display:inline-block !important; 
    position: relative !important;
  }
}
