h1 {
  font-size: 1.9em;
}
li {
  font-size: 14px;
}

.navbarContainer {
  position: fixed;
  top: 0;
  width: 100%;
  .left {
    padding-left: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  a {
    text-decoration: none;
  }

  .navbar {
    display: flex;
    // flex-direction: row;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      li {
        padding: 0.5em;
        list-style: none;
        text-decoration: none;
      }
      .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 3em;
      }
    }
  }
}

@media screen and (max-width: 650px) and (orientation: portrait) {
  .navbar {
    flex-direction: column;
    margin: 0;
  }
  .navbarContainer > .left {
    padding: 0;
  }
  ul {
    margin: 0;
  }
  h1 {
    margin-top: 3vh;
  }
}
