.featureCard:hover {
  animation: updown 1s ease-in-out infinite;
  animation-play-state: running;
}
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.featuresContainer {
  transition: opacity 0.5s ease-out;
  max-width: 76em;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top: 10vh;
  height: 100vh;
  animation: zoom-in 0.5s forwards;
  .features {
    .featureCards {
      max-width: 1200px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
.featuresNo {
  opacity: 0;
}

.featureCard {
  width: 200px;
  max-height: auto;
  padding: 24px;
  margin: 12px;
  box-shadow: 1px 1px 10px rgba(154, 180, 251, 0.44);
  border-radius: 5px;
  font-size: 14px;
}

h4 {
  font-weight: 700;
}

.article {
  cursor: pointer;
  color: rgba(154, 180, 251);
  font-size: 16px;
  text-decoration: none;
  margin: auto;
}

.article:hover {
  color: #fffd96;
  transition: 0.3s;
}
.article:not(:hover) {
  transition: 0.3s;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
