@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-family: 'Open Sans';
  font-family: 'Open Sans';
}

#root {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1,
h2,
h3 {
  font-family: 'Prompt';
}
