@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
h1,h4 {
  font-family: 'Goblin One', serif;
  color: black;
  font-size: 20px;
}
body{
  margin: 0;
  padding: 0;
}

#root{
  margin: 0;
  padding:0;
  max-width: 100%;
  
}

.pageContainer {
  margin: 0;
  padding: 0;
}

.navbar {
    background-color: lightblue;
    padding-left: 3em;
    padding-right: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    .left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    a {
      text-decoration: none;
    }
  
  .navbarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      flex-direction: row;
      align-items:center;
      li {
        padding: .5em;
        list-style: none;
        text-decoration: none;
      }
      .icons{
        display:flex;
        flex-direction:row;
        align-items: center;
      }
    }
  }
}

.homeContainer {
  max-width: 84em;
  
  margin: auto;
  padding-top: 13em;
  
  .home {
    display: flex;
    flex-direction: row;
    .left {
      margin: auto;
      .description {
        max-width: 500px;
      }
    }
    .right {
      padding: 2em;
      max-width: 500px;
      margin: auto;
    }
  }
}

// .featuresContainer{

//   max-width: 76em;
//   margin: auto;
//   margin-top: 15em;
//   .features{ 
    
//     .featureCards{
//       justify-content: center;
//       max-width: 900px;
//       display: flex;
//       flex-wrap: wrap;
//       flex-direction: row;
//       margin: auto;
//     }
//   }
// }

// .featureCard {
//   max-width: 170px;
//   max-height: auto;
//   padding: 1em;
// }
